<h5>{{ section.settings.section-footer-contact-heading }}</h5>
<a
  href="tel:{{- section.settings.section-footer-contact-number -}}"
  class="footer-detail-number"
  rel="noopener noreferrer">{{ section.settings.section-footer-contact-number }}</a>
<a
  href="mailto:{{- section.settings.section-footer-contact-email -}}"
  class="footer-detail-email"
  rel="noopener noreferrer">{{ section.settings.section-footer-contact-email }}</a>