{{ 'featured-product.css' | asset_url | stylesheet_tag }}
<!-- featured single product L Series-->
<section class="featured-single-product" style="background-color: {{ section.settings.section-feature-product-bg-color }};">
  <div class="featured-single-product-container container">
    <div class="featured-single-product-media hide-onMobile">
      {% if section.settings.section-featured-image != blank %}
        <img src="{{ section.settings.section-featured-image | img_url:'master'}}" alt="L Series" />
      {% else %}
        {{ 'product-5' | placeholder_svg_tag: 'placeholder-product-5' }}
      {% endif %}
    </div>
    <div class="featured-single-product-content">
      {% for featureProduct_block in section.blocks %}
        {% if featureProduct_block.settings.section-featured-tagline != blank %}
          <p class="product-name-tag">{{ featureProduct_block.settings.section-featured-tagline }}</p>
        {% endif %}

        {% if featureProduct_block.settings.section-featured-heading != blank %}
          <h3 class="product-name-tagline">{{ featureProduct_block.settings.section-featured-heading }}</h3>
        {% endif %}
      {% endfor %}

      {% if section.settings.section-featured-image != blank %}
        <img
          src="{{ section.settings.section-featured-image | img_url:'master'}}"
          class="featured-single-product-mobile-img hide-onDesktop"
          alt="L Series" />
      {% else %}
        <div class="featured-single-product-mobile-img hide-onDesktop">
          {{ 'product-5' | placeholder_svg_tag: 'placeholder-product-5' }}
        </div>
      {% endif %}

      {% for featureProduct_block in section.blocks %}
        {% if featureProduct_block.settings.section-featured-description != blank %}
          <p class="product-text">
            {{ featureProduct_block.settings.section-featured-description }}
          </p>
        {% endif %}

        {% if featureProduct_block.settings.section-featured-btn-text != blank %}
          <a
            href="{{ featureProduct_block.settings.section-featured-btn-url }}"
            class="order-now-btn"
            rel="noopener noreferrer">
            {{ featureProduct_block.settings.section-featured-btn-text }}
          </a>
        {% endif %}
      {% endfor %}

      <div class="featured-single-product-featured-list">

        {% for featuredProduct_list in section.blocks %}
          {% if featuredProduct_list.settings.section-featured-product-bar-speed-enable %}
            <div class="featured-single-product-featured-item">
              <div class="featured-single-product-featured-heading">
                {% render 'icon-speed' %}
                <p>Top Speed</p>
              </div>
              {% for featuredProduct_item in section.blocks %}
                <h6>{{ featuredProduct_item.settings.section-featured-product-bar-speed-text }}</h6>
              {% endfor %}
            </div>
          {% endif %}
        {% endfor %}

        {% for featuredProduct_list in section.blocks %}
          {% if featuredProduct_list.settings.section-featured-product-bar-range-enable %}
            <div class="featured-single-product-featured-item">
              <div class="featured-single-product-featured-heading">
                {% render 'icon-range' %}
                <p>Range</p>
              </div>
              {% for featuredProduct_item in section.blocks %}
                <h6>{{ featuredProduct_item.settings.section-featured-product-bar-range-text }}</h6>
              {% endfor %}
            </div>
          {% endif %}
        {% endfor %}

        {% for featuredProduct_list in section.blocks %}
          {% if featuredProduct_list.settings.section-featured-product-bar-time-enable %}
            <div class="featured-single-product-featured-item">
              <div class="featured-single-product-featured-heading">
                {% render 'icon-time' %}
                <p>Time</p>
              </div>
              {% for featuredProduct_item in section.blocks %}
                <h6>{{ featuredProduct_item.settings.section-featured-product-bar-time-text }}</h6>
              {% endfor %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>

  </div>
</section>



{% schema %}
  {
    "name": "Featured Product",
    "tag": "section",
    "class": "section-featured-product",
    "settings": [
      {
        "type": "color",
        "label": "Change Background Color",
        "id": "section-feature-product-bg-color",
        "default": "#fff"
      }, {
        "type": "image_picker",
        "label": "Select image",
        "id": "section-featured-image"
      }
    ],
    "blocks": [
      {
        "name": "Tag Line",
        "type": "tagline",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "label": "Tag Line",
            "id": "section-featured-tagline",
            "default": "Tagline"
          }
        ]
      },
      {
        "name": "Heading",
        "type": "heading",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "label": "Heading",
            "id": "section-featured-heading",
            "default": "Product title"
          }
        ]
      },
      {
        "name": "Description",
        "type": "description",
        "limit": 1,
        "settings": [
          {
            "type": "textarea",
            "label": "Description",
            "id": "section-featured-description",
            "default": "Pair text with an image to focus on your chosen product, collection, or blog post"
          }
        ]
      },
      {
        "name": "Button",
        "type": "url",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "label": "Button",
            "id": "section-featured-btn-text",
            "default": "Button Label"
          }, {
            "type": "url",
            "label": "Button",
            "id": "section-featured-btn-url"
          }
        ]
      }, {
        "name": "Featured Product bar",
        "type": "bar",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "label": "Top Speed",
            "id": "section-featured-product-bar-speed-text",
            "default": "25 km/h"
          },
          {
            "type": "checkbox",
            "label": "Show/Hide Speed",
            "id": "section-featured-product-bar-speed-enable",
            "default": true
          },
          {
            "type": "text",
            "label": "Range",
            "id": "section-featured-product-bar-range-text",
            "default": "30km on PAS"
          },
          {
            "type": "checkbox",
            "label": "Show/Hide Speed",
            "id": "section-featured-product-bar-range-enable",
            "default": true
          }, {
            "type": "text",
            "label": "Time",
            "id": "section-featured-product-bar-time-text",
            "default": "2 hr"
          }, {
            "type": "checkbox",
            "label": "Show/Hide Speed",
            "id": "section-featured-product-bar-time-enable",
            "default": true
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Featured Product"
      }
    ]
  }
{% endschema %}