{{ 'gallery.css' | asset_url | stylesheet_tag }}

<style>
    #shopify-section-{{ section.id }} .gallery .gallery-group {
        grid-template-columns: repeat({{ section.settings.gallery_mobile_row_count }}, 1fr);
        grid-gap: {{ section.settings.gallery_mobile_row_gap -}}px;
    }
  @media only screen and (min-width: 768px) {
      #shopify-section-{{ section.id }} .gallery .gallery-group {
          grid-template-columns: repeat({{ section.settings.gallery_row_count }}, 1fr);
          grid-gap: {{ section.settings.gallery_row_gap -}}px;
      }
  }
</style>
<div class="gallery">
  <div class="gallery-container container">
    <div class="gallery-group">
      {% for galleryBlock in section.blocks %}
        {% case galleryBlock.type %}
          {% when 'item' %}
            {% if galleryBlock.settings.gallery_image != blank %}
              <div class="gallery-item">
                <img src="{{ galleryBlock.settings.gallery_image | img_url: 'master' -}}" alt="" srcset="">
              </div>
            {% else %}
              {{ 'product-2' | placeholder_svg_tag: 'placeholder-image' }}
            {% endif %}
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Gallery",
  "settings": [
    {
      "type": "range",
      "label": "Images row count",
      "id": "gallery_row_count",
      "min": 0,
      "max": 3,
      "step": 1,
      "unit": "px",
      "default": 3
    },
    {
      "type": "range",
      "label": "Images spacing",
      "id": "gallery_row_gap",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "default": 20
    },
    {
      "type": "header",
      "content": "Mobile grid images adjustment"
    },
    {
      "type": "range",
      "label": "Images row count",
      "id": "gallery_mobile_row_gap",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "default": 20
    },
    {
      "type": "range",
      "label": "Images spacing",
      "id": "gallery_mobile_row_count",
      "min": 0,
      "max": 3,
      "step": 1,
      "unit": "px",
      "default": 2
    }
  ],
  "blocks": [
    {
      "name": "Item",
      "type": "item",
      "settings": [
        {
          "type": "image_picker",
          "label": "image",
          "id": "gallery_image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "gallery",
      "blocks": [
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}
