{{ 'header.css' | asset_url | stylesheet_tag }}
<style>
  nav .main-logo a {
    width: {{ settings.logo_width -}}
    px;
  }
</style>
<header>
  <nav role="navigation">
    <div class="nav-container">
      <div class="nav-mobile-wrapper">
        <div class="nav-mobile-container">
          <!-- Main Logo -->
          <div class="main-logo">
            <a href="{{ shop.url }}" rel="noopener noreferrer">
              {%- if settings.brand_logo != blank -%}
                <img src="{{ settings.brand_logo | img_url: 'master' }}" alt="{{ site.name }}" />
              {%- else -%}
                <h1>{{ shop.name | capitalize }}</h1>
              {%- endif -%}
            </a>
          </div>
          <div class="mobile-nav-icons hide-onDesktop">
            <!-- Cart Icon -->
            <a href="{{ routes.cart_url }}" rel="noopener noreferrer">
              {% render 'icon-cart' %}
            </a>
            <!-- Menu Bar -->
            <div class="menu-bar">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
      </div>

      <!-- Nav Links -->
      <div class="nav-middle">
        <ul class="nav-links">
          {% for navlinks in section.settings.navigation_links.links %}
            <li>
              <a href="{{ navlinks.url }}" rel="noopener noreferrer">{{ navlinks.title }}</a>
              {%- if navlinks.links != blank -%}
                <span class="dropdown-close">
                  {% render 'icon-chevron-right' %}
                </span>
                <div class="dropdown">
                  <ul>
                    {%- for dropdownlinks in navlinks.links -%}
                      <li>
                        <a href="{{ dropdownlinks.url }}" rel="noopener noreferrer">{{ dropdownlinks.title }}</a>
                      </li>
                    {%- endfor -%}
                  </ul>

                </div>
              {%- endif -%}
            </li>
          {%- endfor -%}
        </ul>

        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <a
              class="register-btn"
              href="{{ routes.account_login_url }}"
              rel="noopener noreferrer">My Account</a>
          {% else %}
            <a
              class="register-btn"
              href="{{ routes.account_url }}"
              rel="noopener noreferrer">
              Login / Register</a>
          {% endif %}
      {% else %}

        {% endif %}
      </div>
      <!-- Other Links -->
      <div class="nav-right">
        {%- if section.settings.nav_button != blank and section.settings.show_nav_button -%}
          <a
            class="book-ride-btn"
            href=""
            rel="noopener noreferrer">{{ section.settings.nav_button }}</a>
        {%- endif -%}

        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <a
              class="my-account hide-onMobile"
              href="{{ routes.account_url }}"
              rel="noopener noreferrer">My Account</a>
            {{ 'logout' | customer_logout_link }}
          {% else %}
            <a
              class="my-account hide-onMobile"
              href="{{ routes.account_url }}"
              rel="noopener noreferrer">Login</a>
          {% endif %}
        {% endif %}
        <!-- Cart Icon -->
        <span class="hide-onMobile">
          <a href="{{ routes.cart_url }}" rel="noopener noreferrer">
            {% render 'icon-cart' %}
          </a>

        </span>
      </div>
    </div>
  </nav>
  <div class="nav-dropdown-overlay"></div>
</header>

{{ 'header.js' | asset_url | script_tag }}


{% schema %}
  {
    "name": "Header",
    "tag": "section",
    "class": "top-header",
    "settings": [
      {
        "type": "link_list",
        "label": "Select Menu",
        "id": "navigation_links"
      }, {
        "type": "text",
        "label": "Button",
        "id": "nav_button"
      }, {
        "type": "checkbox",
        "label": "Show button",
        "id": "show_nav_button",
        "default": true
      }
    ]
  }
{% endschema %}