{% comment %} https://codepen.io/chriscoyier/pen/XwbNwX 
https://codepen.io/Dom_N/pen/xgERVG?editors=1010 
https://codepen.io/adaban/pen/zYMZWRb?editors=1010 

https://www.youtube.com/watch?v=BNOaWqP4X_U
{% endcomment %}

{{ 'slider.css' | asset_url | stylesheet_tag }}


<section>
  <div class="slider slider-style-one">
    <div class="slider-container container">
      <h5>{{- section.settings.section_slider_main_heading -}}</h5>
      <div class="slides-wrap">
        {% for section_slide_block in section.blocks %}
          {% case section_slide_block.type %}
            {% when "slide" %}
            <!-- Slide -->
            <div class="slide">
              <h6>{{- section_slide_block.settings.section-slider-heading-slide -}}</h6>
              <div class="slide-media">
                <a href="{{- section_slide_block.settings.section-slide-url -}}" rel="noopener noreferrer">
                  {% if section_slide_block.settings.section-slider-image-slide %}
                    <img src="{{ section_slide_block.settings.section-slider-image-slide | img_url: 'master'}}" alt="" />
                  {% else %}
                    {{ "image" | placeholder_svg_tag: "placeholder-image" }}
                  {% endif %}
                </a>
              </div>
              <!-- Slide bar -->
              <div class="slide-bar">
                <span></span>
              </div>
            </div>
          {% endcase %}
        {% endfor %}
      </div>
      {% if section.settings.section_slider_control_arrows %}
        <!-- Slide Buttons -->
        <div class="slider_btn">
          <div class="slide-btn-next slide-btn-arrow">
            <i id="slide-arrow_toright" class="fa-solid fa-angle-right"></i>
          </div>
          <div class="slide-btn-prev slide-btn-arrow">
            <i id="slide-arrow_toleft" class="fa-solid fa-angle-left"></i>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</section>

{{ 'slider.js' | asset_url | script_tag }}
{% schema %}
  {
    "name": "Slider",
    "tag": "section",
    "class": "section-slider",
    "settings": [
      {
        "type": "text",
        "label": "Main Heading",
        "id": "section_slider_main_heading",
        "default": "Slider Main Heading"
      }, {
        "type": "select",
        "label": "Select Slider Style",
        "id": "section_slider_styles",
        "options": [
          {
            "value": "slider-style-one",
            "label": "Style One"
          }, {
            "value": "slider-style-two",
            "label": "Style Two"
          }, {
            "value": "slider-style-three",
            "label": "Style Three"
          }
        ],
        "default": "slider-style-one"
      }, {
        "type": "checkbox",
        "label": "Show/Hide Slider control arrows",
        "id": "section_slider_control_arrows",
        "default": true
      }
    ],
    "blocks": [
      {
        "name": "Slide",
        "type": "slide",
        "settings": [
          {
            "type": "image_picker",
            "label": "Select slide image",
            "id": "section-slider-image-slide"
          }, {
            "type": "text",
            "label": "Slide Heading",
            "id": "section-slider-heading-slide",
            "default": "Slider Heading"
          }, {
            "type": "url",
            "label": "Slide link",
            "id": "section-slide-url"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Slider"
      }
    ]
  }
{% endschema %}